td,
th {
  border: 1px solid black;
  padding: 5px 10px;
}

table {
  border-collapse: collapse;
}

.nastedmenu {
  list-style: none;
  display: none;
}

nav li:hover .nastedmenu {
  display: block;
}
